*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    background-color: #406af5;
    background: linear-gradient(to bottom, #fac458b8, #1d3561b8);

}
.container{
    background:#fff ;
    width: 450px;
    padding: 1.5rem;
    margin-top: 80px;
   margin-bottom: 100px;
   margin-left: auto;
   margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0, 1, 0.9);
}
.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group i {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    z-index: 2;
}

.input-group input {
    width: 100%;
    padding: 10px 5px 10px 30px;
    border: none;
    border-bottom: 1px solid #757575;
    font-size: 15px;
    background: transparent;
    color: #000;
}

.input-group input:focus {
    border-bottom: 2px solid #b58e53;
    outline: none;
}

.input-group input::placeholder {
    color: transparent;
}

.input-group label {
    position: absolute;
    left: 30px;
    top: 10px;
    color: #757575;
    font-size: 15px;
    transition: 0.3s ease all;
    pointer-events: none;
    background: white;
    padding: 0 4px;
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 13px;
    color: #b58e53;
}


.recover{
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.recover a{
    text-decoration: none;
    color: rgba(0, 33, 71, 1)
    ;
}
.recover a:hover{
    color: #b58e53;
    text-decoration: underline;
}
.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    margin-bottom: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgba(0, 33, 71, 1)
    ;
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background: #07001f;
}


.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight:bold;
}
button{
    color: rgba(0, 33, 71, 1);

    border: none;
    background-color: transparent ;
    font-size: 1rem;
    font-weight: bold;
}
button:hover{
    text-decoration: underline;
    color: #b58e53;
}